:root {
        --background:white;
        --pink-background:#FDDAE1;

        --main-text:black;
        --add-text:white;

        --wit:white;
        --zwart:black;

        --basis-roze:#F5819B;
        --licht-roze:#FDDAE1;

        --roze-winkelmandje:#fccdae;

        --button-roze:#F5819B;
        --button-blauw:#aec3e6;
        --button-oranje:#fccdae;

        --schaduw-roze:#CA97AB;
        --schaduw-blauw:#a5d9cc;

        --focus-roze: #CC7186;
        --focus-oranje:#ecba9a;
        --focus-blauw:#a2b6d8;
       }

/*Bron: https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode */
@media (prefers-color-scheme: dark){
    :root{
        --background: #171717;

        --main-text:white;

        --basis-roze: #CC7186; 
        --licht-roze: #A06B70;

        --button-roze: #B45D73;
        --button-blauw: #5A7698; 
        --button-oranje: #A86F63; 
    }
}