@font-face {
	font-family:'poppins-regular';
	src: url("../fonts/Poppins-Regular.ttf");
  }

@font-face {
  font-family:'poppins-bold';
  src: url("../fonts/Poppins-Bold.ttf");
  }

  @font-face {
    font-family:'poppins-extralight';
    src: url("../fonts/Poppins-ExtraLight.ttf");
  }

@font-face {
  font-family:'anton';
  src: url("../fonts/anton.ttf");
  }
  
  body{
	font-family: 'poppins-regular', sans-serif;
  margin:0;
  padding:0;

  background-color:var(--background);
  }

  ul{
    list-style:none;
  }

/*HEADER*/

header{
  position:sticky;
  top:0;
  z-index:500;
  background-color:var(--background);
  padding-top:1em;
}

header div {
  width:100%;
  padding:0;
  
  display:flex;
  gap:1em;
  align-items:center;
  flex-wrap:wrap;
  
  background-color:var(--background);
  max-width:65em;
  margin-inline:auto;
}

header div > img:first-of-type{
  grid-column: 1/2;
  grid-row: 1/2;

  width: 5em;
  margin-right:auto;
}

header div > img:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 1/2;

  width: 3em;
  align-self:center;
}

header p{
  grid-column: 1/-1;
  grid-row: 2/3;
  text-align: center;

  font-family:'poppins-extralight';

  background-color:var(--basis-roze);
  color:var(--add-text);

  margin:0;
  padding:.5em 1em;
}

/*Hamburger menu*/ /*Bron lesopdracht JS-3-stap*/

header button img{
  grid-column:4/5;
  grid-row:1/2;

  width: 3.5em;
}

header div > button{
  order:10;
  z-index:100;

  grid-column: 4/5;
  grid-row: 1/2;

  border:none;
  background: none;
}

nav {
  position:fixed;
  inset:0;
  background-color: var(--background);
  
  translate:-100%;
}

nav a {
  display:block;
  padding:1em;

  text-decoration:none;
  color:var(--main-text);
}

nav.toonMenu {
  translate:0% 0%;
  transition: 2s;
}

header ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:end;
  gap: 0.5em;

  font-size:0.95em;
}

header ul a:hover{
  color: var(--basis-roze);
  transition: 0.75s;
}

header nav form{
  display:flex;
  justify-content:start;
  
  padding-top:5em;
  padding-left:3em;
}

/*Header menu opengeklapt*/  /*Bron lesopdracht: JS 3-stap*/

@media (min-width:65em){

  header div{
    display:grid;
    grid-template-columns:max-content 1fr;
  }

  header div > img:first-of-type{
    grid-column:1/2;
    grid-row:1;
    
    justify-self:start;

    width:8em;
    padding-left:5.5em;
  }

  header div > img:nth-of-type(2){
    margin-right:0;

    grid-column:2/3;
    grid-row:1;

    align-self:start;
    justify-self:end;
    padding-right:.5em;

    width:2.5em;
  }

  header div > button {
    display:none;
  }

  header p{
    grid-column:1/5;
    grid-row:2;

    padding:1.25em 1em;
  }

  header div > button{
    display:none;
  }

  header nav {
    grid-column-start:2;
    grid-row-start:1;
    position:static;
    translate:0;
    
    background-color:unset;
  }

  header nav button{
    display:none;
  }

  header nav ul {
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
  }

  header ul{
    grid-column:1/-1;
    grid-row:1;

    display:flex;
    gap:1em;

    flex-direction:row;
    align-items:center;
  }

  nav a{
    display: flex;
    flex-direction:column;

    border:none;

    font-size:1em;
    padding:1em .5em;
    text-decoration: none;
    color:var(--main-text);
  }

  header > a:last-of-type {
    flex-direction:column;
  }

  header nav form{
    padding:0;
  }
}


  /*BANNER*/
  main > ul:first-of-type{
    background-image: url("../images/snoepsnacks_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;

    text-transform:uppercase;
    color: var(--wit);
    margin:0;
  }

  main > ul:first-of-type h1{
    margin:0;
  }

  main > ul:first-of-type h2{
    font-family:'poppins-extralight';
    margin:0;
  }

  /*BANNER > Groot scherm*/


  @media (min-width:55em){
    main > ul:first-of-type{
      background-image: url("../images/snoepsnacks_banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: left;
      color: var(--wit);
      margin:0;
    }

    h1{
      font-size:4em;
      padding:0.5em 0.5em 0 4em;
      margin:0;
    }

    main > ul:first-of-type h2{
      font-size:2em;
      padding: 0 0.5em 1em 8em;
      margin:0;
    }
  }


  /*PROUCTEN*/

  main section:first-of-type{
    display: grid;
    grid-template-columns: 3(1fr);
    grid-template-rows: 5em;
    gap:0.5em;
    justify-items: center;

    padding-left:1em;
    padding-right:1em;
  }

  /*PRODUCTEN > "Filteren"*/
  main section:first-of-type > h2:first-of-type {
    grid-column:1/3;
    grid-row: 1;
    justify-self:start;

    font-size:1em;
    color: var(--main-text);

    border: var(--main-text) 1px solid;

    padding: 0.75em 5em 0.75em 5em;
    margin-left:2em;
  }

  main section:first-of-type > h2:nth-of-type(2){
    color:var(--main-text);
    visibility: hidden;
  }

  main section:first-of-type > ul{
    visibility:hidden;
    color:var(--main-text);
  }

  /*PRODUCTEN > Sorteerknop*/
  main section:first-of-type > img:nth-of-type(1){
    width: 4em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    justify-self: end;
    align-self: center;
    padding-right:1em;
  }

  /*PRODCUTEN > Items*/

  /*PRODUCTEN algemene styling*/
  main section:first-of-type p{
    font-size: larger;
    text-align: center;

    color: var(--main-text);
  }

  main section:first-of-type button{
    background-color:var(--button-roze);
    color: var(--add-text);
    border: none;
    border-radius: 0.25em;
    font-size:larger;
    padding: 0.75em 1.3em 0.75em 1.3em;
  }

  main section:first-of-type button:hover{
    opacity:80%;
  }

  main section:first-of-type button:focus{
      border: var(--focus-roze) 1.5px solid;
      opacity:80%;
  }



  /*Item 1*/
  main section:first-of-type > img:nth-of-type(2){
    width: 10em;
    grid-column:1/2;
    grid-row:2;
  }

  main section:first-of-type > p:nth-of-type(1) {
    grid-column:1/2;
    grid-row: 3;
  }

  main section:first-of-type > p:nth-of-type(2) {
    grid-column:2/3;
    grid-row: 4;
  }

  main section:first-of-type > button:nth-of-type(1) {
    grid-column:1/2;
    grid-row: 5;
  }

  /*Item 2*/

  main section:first-of-type > img:nth-of-type(3){
    width: 10em;
    grid-column:2/3;
    grid-row:2;
  }

  main section:first-of-type > p:nth-of-type(3) {
    grid-column:2/3;
    grid-row: 3;
  }

  main section:first-of-type > p:nth-of-type(4) {
    grid-column:1/2;
    grid-row: 8;
  }

  main section:first-of-type > button:nth-of-type(2) {
    grid-column:2/3;
    grid-row: 5;
  }

  /*Item 3*/
  
  main section:first-of-type > img:nth-of-type(4){
    width: 10em;
    grid-column:1/2;
    grid-row:6;
  }

  main section:first-of-type > p:nth-of-type(5) {
    grid-column:1/2;
    grid-row: 7;
  }

  main section:first-of-type > p:nth-of-type(6) {
    grid-column:2/3;
    grid-row: 8;
  }

  main section:first-of-type > button:nth-of-type(3) {
    grid-column:1/2;
    grid-row: 9;
  }

  /*Item 4*/

  main section:first-of-type > img:nth-of-type(5){
    width: 10em;
    grid-column:2/3;
    grid-row:6;
  }

  main section:first-of-type > p:nth-of-type(7) {
    grid-column:2/3;
    grid-row: 7;
  }

  main section:first-of-type > p:nth-of-type(8) {
    grid-column:1/2;
    grid-row: 4;
  }

  main section:first-of-type > button:nth-of-type(4) {
    grid-column:2/3;
    grid-row: 9;
  }

  /*Item 5*/

  main section:first-of-type > img:nth-of-type(6){
    width: 10em;
    grid-column:1/2;
    grid-row:10;

    align-self:center;
  }

  main section:first-of-type > p:nth-of-type(9) {
    grid-column:1/2;
    grid-row: 11;
  }

  main section:first-of-type > p:nth-of-type(10) {
    grid-column:1/2;
    grid-row: 12;
  }

  main section:first-of-type > button:nth-of-type(5) {
    grid-column:1/2;
    grid-row: 13;
  }

  /*Item 6*/

  main section:first-of-type > img:nth-of-type(7){
    width: 10em;
    grid-column:2/3;
    grid-row:10;
  }

  main section:first-of-type > p:nth-of-type(11) {
    grid-column:2/3;
    grid-row: 11;
  }

  main section:first-of-type > p:nth-of-type(12) {
    grid-column:2/3;
    grid-row: 12;
  }

  main section:first-of-type > button:nth-of-type(6) {
    grid-column:2/3;
    grid-row: 13;
  }

  /*Item 7*/

  main section:first-of-type > img:nth-of-type(8){
    width: 10em;
    grid-column:1/2;
    grid-row:14;
  }

  main section:first-of-type > p:nth-of-type(13) {
    grid-column:1/2;
    grid-row: 15;
  }

  main section:first-of-type > p:nth-of-type(14) {
    grid-column:1/2;
    grid-row: 16;
  }

  main section:first-of-type > button:nth-of-type(7) {
    grid-column:1/2;
    grid-row: 17;
  }

    /*Item 8*/

    main section:first-of-type > img:nth-of-type(9){
      width: 10em;
      grid-column:2/3;
      grid-row:14;
    }
  
    main section:first-of-type > p:nth-of-type(15) {
      grid-column:2/3;
      grid-row: 15;
    }
  
    main section:first-of-type > p:nth-of-type(16) {
      grid-column:2/3;
      grid-row: 16;
    }
  
    main section:first-of-type > button:nth-of-type(8) {
      grid-column:2/3;
      grid-row: 17;
    }

    /*Item 9*/

    main section:first-of-type > img:nth-of-type(10){
      width: 10em;
      grid-column:1/2;
      grid-row:18;
    }
  
    main section:first-of-type > p:nth-of-type(17) {
      grid-column:1/2;
      grid-row: 19;
    }
  
    main section:first-of-type > p:nth-of-type(18) {
      grid-column:1/2;
      grid-row: 20;
    }
  
    main section:first-of-type > button:nth-of-type(9) {
      grid-column:1/2;
      grid-row: 21;
    }

    /*Item 10*/

    main section:first-of-type > img:nth-of-type(11){
      width: 10em;
      grid-column:2/3;
      grid-row:18;
    }
  
    main section:first-of-type > p:nth-of-type(19) {
      grid-column:2/3;
      grid-row: 19;
    }
  
    main section:first-of-type > p:nth-of-type(20) {
      grid-column:2/3;
      grid-row: 20;
    }
  
    main section:first-of-type > button:nth-of-type(10) {
      grid-column:2/3;
      grid-row: 21;
    }

     /*Item 11*/

    main section:first-of-type > img:nth-of-type(12){
      width: 10em;
      grid-column:1/2;
      grid-row:22;
    }
  
    main section:first-of-type > p:nth-of-type(21) {
      grid-column:1/2;
      grid-row: 23;
    }
  
    main section:first-of-type > p:nth-of-type(22) {
      grid-column:1/2;
      grid-row: 24;
    }
  
    main section:first-of-type > button:nth-of-type(11) {
      grid-column:1/2;
      grid-row: 25;
    }

     /*Item 12*/

     main section:first-of-type > img:nth-of-type(13){
      width: 10em;
      grid-column:2/3;
      grid-row:22;
    }
  
    main section:first-of-type > p:nth-of-type(23) {
      grid-column:2/3;
      grid-row: 23;
    }
  
    main section:first-of-type > p:nth-of-type(24) {
      grid-column:2/3;
      grid-row: 24;
    }
  
    main section:first-of-type > button:nth-of-type(12) {
      grid-column:2/3;
      grid-row: 25;
    }

  


  /*Producten groot scherm*/

  /*Poducten groot scherm > filteren*/
  @media (min-width:55em){
    main section:first-of-type{
      display: grid;
      grid-template-columns: 34% 15% 15% 15% 15%;
      grid-template-rows: auto;
      gap:1em;

      justify-items: center;
      padding-top:1em;

      font-size:0.8em;
    }

      /*Filteren (groot scherm)*/
    main section:first-of-type ul{
      visibility:visible;
      grid-column:1/2;
      grid-row:1/3;
  
      align-self:start;
      justify-self:end;
  
      font-size:1.1em;
      font-family:'poppins-extralight';
    }
  
    main section:first-of-type ul h2{
      border-bottom: var(--main-text) 0.2px solid;
      padding-bottom:1em;
      padding-right:3em;

      font-size:1.75em;
    } 
  
    main section:first-of-type ul p:first-of-type{
      border-bottom: var(--main-text) 0.2px solid;
      padding-bottom:1em;
      justify-self:start;
      padding-right:7.25em;
    }

    main section:first-of-type ul p:nth-of-type(2){
      border-bottom: var(--main-text) 0.2px solid;
      padding-bottom:1em;
      justify-self:start;
      padding-right:10em;
    }

    /*Filteren weghalen (klein scherm)*/
    main section:first-of-type > h2:first-of-type {
      visibility: hidden;
    }

    main section:first-of-type > img:nth-of-type(1){
      visibility: hidden;
    }

    /*Indelen op (groot scherm)*/
    main section:first-of-type > h2:nth-of-type(2){
      visibility: visible;

      grid-column:4/5;
      grid-row:1/2;

      font-family:'poppins-extralight';
      font-size:1.2em;

      border: var(--main-text) 1px solid;
      width:100%;

      text-align:center;
      align-self:center;

      padding: 0.5em;
    }

    /*Items > algemene styling*/
    main section:first-of-type > button{
      width:100%;
      height:3.1em;
    
      font-size:1.4em;
    }

    /*Item 1*/
    main section:first-of-type > img:nth-of-type(2){
      grid-column:2/3;
      grid-row:2;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(1) {
      grid-column:2/3;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(2) {
      grid-column:2/3;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(1) {
      grid-column:2/3;
      grid-row: 5;
    }

    /*Item 2*/
    main section:first-of-type > img:nth-of-type(3){
      grid-column:3/4;
      grid-row:2;
      
      width:17em;
    }

    main section:first-of-type > p:nth-of-type(3) {
      grid-column:3/4;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(4) {
      grid-column:3/4;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(2) {
      grid-column:3/4;
      grid-row: 5;
    }

    /*Item 3*/
    main section:first-of-type > img:nth-of-type(4){
      grid-column:4/5;
      grid-row:2;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(5) {
      grid-column:4/5;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(6) {
      grid-column:4/5;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(3) {
      grid-column:4/5;
      grid-row: 5;
    }

    /*Item 4*/
    main section:first-of-type > img:nth-of-type(5){
      grid-column:2/3;
      grid-row:6;

      width:22em;
    }

    main section:first-of-type > p:nth-of-type(7) {
      grid-column:2/3;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(8) {
      grid-column:2/3;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(4) {
      grid-column:2/3;
      grid-row: 9;
    }

    /*Item 5*/
    main section:first-of-type > img:nth-of-type(6){
      grid-column:3/4;
      grid-row:6;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(9) {
      grid-column:3/4;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(10) {
      grid-column:3/4;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(5) {
      grid-column:3/4;
      grid-row: 9;
    }

    /*Item 6*/
    main section:first-of-type > img:nth-of-type(7){
      grid-column:4/5;
      grid-row:6;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(11) {
      grid-column:4/5;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(12) {
      grid-column:4/5;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(6) {
      grid-column:4/5;
      grid-row: 9;
    }

    /*Item 7*/
    main section:first-of-type > img:nth-of-type(8){
      grid-column:2/3;
      grid-row:10;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(13) {
      grid-column:2/3;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(14) {
      grid-column:2/3;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(7) {
      grid-column:2/3;
      grid-row: 13;
    }

    /*Item 8*/
    main section:first-of-type > img:nth-of-type(9){
      grid-column:3/4;
      grid-row:10;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(15) {
      grid-column:3/4;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(16) {
      grid-column:3/4;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(8) {
      grid-column:3/4;
      grid-row: 13;
    }

    /*Item 9*/
    main section:first-of-type > img:nth-of-type(10){
      grid-column:4/5;
      grid-row:10;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(17) {
      grid-column:4/5;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(18) {
      grid-column:4/5;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(9) {
      grid-column:4/5;
      grid-row: 13;
    }

    /*Item 10*/
    main section:first-of-type > img:nth-of-type(11){
      grid-column:2/3;
      grid-row:14;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(19) {
      grid-column:2/3;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(20) {
      grid-column:2/3;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(10) {
      grid-column:2/3;
      grid-row: 17;
    }

    /*Item 11*/
    main section:first-of-type > img:nth-of-type(12){
      grid-column:3/4;
      grid-row:14;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(21) {
      grid-column:3/4;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(22) {
      grid-column:3/4;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(11) {
      grid-column:3/4;
      grid-row: 17;
    }

    /*Item 12*/
    main section:first-of-type > img:nth-of-type(13){
      grid-column:4/5;
      grid-row:14;

      width:17em;
    }

    main section:first-of-type > p:nth-of-type(23) {
      grid-column:4/5;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(24) {
      grid-column:4/5;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(12) {
      grid-column:4/5;
      grid-row: 17;
    }
  }



   /*FOOTER*/   /*Hulp gekregen door Jesse om probleem tussen sections en grid bij het gerbuik van @media op te lossen*/ 

   footer{
    background-color:var(--licht-roze);
    margin-top: 3em;
    padding: 1em;
  }

  footer ul{
    list-style:none;
  }

  footer ul li a{
    text-decoration: none;
    color:var(--zwart);
  }

  @media(min-width:80em){
    footer{
      display: grid;
      grid-template-columns: 45% 20% 40% 20%;
      grid-template-rows: 17.5% 30% 20%;
      row-gap:0.5em;

      height:65em;
      padding:0;
      font-size:0.75em;
    }
  }


  /*FOOTER section 1*/


  footer section:first-of-type{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:1fr 7.5vw 7.5vw 15vw 7.5vw 5vw;
  }

  footer section:first-of-type > img:first-of-type{
    grid-column:1/3;
    grid-row: 1;
    
    width:8em;
    justify-self: center;
  }

  footer section:first-of-type ul{
    padding:0;
  }

  footer section:first-of-type ul:first-of-type h2{
    grid-column:1/2;
    grid-row:2;

    font-family: 'poppins-bold';
  }

  footer section:first-of-type ul:first-of-type p:first-of-type{
    grid-column:1/2;
    grid-row:3;
  }

  footer section:first-of-type ul:first-of-type p:nth-of-type(2){
    grid-column:1/2;
    grid-row:4;
  }

  footer section:first-of-type ul:nth-of-type(2){
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4;
    align-self: end;
  }

  footer section ul img{
    width:2em;
  }

  footer section:first-of-type ul:nth-of-type(3){
    grid-column:1/2;
    grid-row:5;
  }

  footer section:first-of-type ul:nth-of-type(3) li{
    border-bottom: black 1px solid;
  }

  @media(min-width:80em){
      footer section:first-of-type img:first-of-type{
        grid-column:1/3;
        grid-row:1;

        width:12em;

        padding-left:10em;
      }
       
      footer section:first-of-type ul:nth-of-type(1) {
      grid-column: 2/3;
      grid-row:1;

      padding-left:12em;
      }
       
       
      footer section:first-of-type ul:nth-of-type(2) {
      grid-column: 4/5;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(2) img {
        width:3.5em;

        padding:0;
      }
       
      footer section:first-of-type ul:nth-of-type(3) {
      grid-column: 3/4;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(3) li{
        border:none;
      }
  }
  

  /*FOOTER Section 2*/


  footer section:nth-of-type(2){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 100%;

    padding-top:2em;
    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(2) h2{
   grid-column:1/2;
   grid-row:1;

   padding-top:1em;

   font-family: 'poppins-bold';
  }

  footer section:nth-of-type(2) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

  @media(min-width:80em){
      footer section:nth-of-type(2){
        grid-column: 1/2;
        grid-row:2/3;

        justify-self:start;

        border-bottom:none;
        border-right: black 1px solid;

        padding-top:0;
        padding-left:27.5em;
        }
  }

  /*FOOTER Section 3*/

  footer section:nth-of-type(3){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 13% 100%;

    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(3) h2{
    grid-column:1/2;
    grid-row:1;

    font-family: 'poppins-bold';
   }

   footer section:nth-of-type(3) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

  @media(min-width:80em){
    footer section:nth-of-type(3){
      grid-column: 1/3;
      grid-row:2/3;

      justify-self:center;

      border-bottom:none;
      border-right: black 1px solid;

      padding-left:50em;
      }

      footer section:nth-of-type(3) ul:nth-of-type(2) {
        padding-right: 17em;
      }

      footer section:nth-of-type(3) ul{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;

        gap:0.5em;
      }
}
 
  /*Footer Section 4*/
  footer section:nth-of-type(4) h2{
    grid-column:3/4;
    grid-row:1;

    font-family: 'poppins-bold';
   }

  footer section:nth-of-type(4) ul{
    margin:0;
    padding:0;
  }

  @media(min-width:80em){
    footer section:nth-of-type(4){
      grid-column: 3/4;
      grid-row:2/3;

      justify-self:start;

      padding-left:8em;
      }
}

  /*Copyright*/

  footer h3{
    font-family:'poppins-extralight';
    text-transform:uppercase;
    background-color:var(--background);
    color:var(--main-text);

    padding-top:3em;
    margin:0;
    height:10em;
    position:absolute;
    right:0;
    left:0;
    padding:1em;
  }

  @media(min-width:40em){
    footer h3{
      grid-column:1/-1;
      grid-row:3;

      background-color:var(--background);
      
      margin:0;

      right:0;
      left:0;
      height: 4em;
      align-self: end;
    }
  }


