@font-face {
	font-family:'poppins-regular';
	src: url("../fonts/Poppins-Regular.ttf");
  }

@font-face {
  font-family:'poppins-bold';
  src: url("../fonts/Poppins-Bold.ttf");
  }

  @font-face {
    font-family:'poppins-extralight';
    src: url("../fonts/Poppins-ExtraLight.ttf");
  }

@font-face {
  font-family:'anton';
  src: url("../fonts/anton.ttf");
  }
  
  body{
	font-family: 'poppins-regular', sans-serif;
  margin:0;
  padding:0;

  background-color:var(--background);
  }

  ul{
    list-style:none;
  }

/*HEADER*/

header{
  display: grid;
  grid-template-columns: 1fr 1fr 4em 4em;
  grid-template-rows: 2;

  position:sticky;
  top:0;
  z-index:500;
  background-color:var(--background);
  }

  header > img:first-of-type{
      grid-column: 1/2;
      grid-row: 1/2;

      width: 5em;
      padding-left: 2em;
  }

  header img:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 1/2;

    width: 3em;
    align-self:center;
  }

  header button img{
    grid-column:4/5;
    grid-row:1/2;

    width: 3.5em;
  }

  header > button {
    order:10;
    z-index:100;

    grid-column: 4/5;
    grid-row: 1/2;

    border:none;
    background: none;
  }

  header p{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;

    font-family:'poppins-extralight';

    background-color:var(--basis-roze);
    width:auto;
    color: var(--add-text);
    padding: 1em;
  }

  nav{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    translate: -100% 0%;
    transition:0.5s;
    background-color:var(--background);
    z-index:100;
  }

  nav a{
    text-decoration: none;
    color: var(--main-text);

    padding:1em;

    font-size:1.25em;
  }

  nav.toonMenu {
    translate:0% 0%;
    transition: 2s;
  }

  header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  @media (min-width:65em){
    header{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows:1fr 6em;
    }

    header > img:first-of-type {
      grid-column:1/2;
      grid-row:1;

      width:8em;
      justify-self:end;
    }

    header > img:nth-of-type(2) {
      grid-column:3/4;
      grid-row:1;

      justify-self:start;
    }

    header p{
      grid-column:1/5;
      grid-row:2;
    }

    header > button{
      display:none;
    }

    nav{
      position:static;
      translate:unset; /*De CSS-functie translate wordt gebruikt binnen de transform-eigenschap om een element te verplaatsen langs de X- en Y-as (en eventueel de Z-as in 3D). 
                        Het verandert de positie van een element zonder de layout van de omliggende elementen te beïnvloeden, wat betekent dat het element visueel 
                        wordt verschoven zonder de normale documentstroom aan te passen.*/
      padding:0;
      background:none;
    }

    nav button{
      display:none;
    }

    header ul{
      grid-column:1/-1;
      grid-row:1;

      display:flex;
      gap:1em;

      flex-direction:row;
      align-items:center;
    }

    nav a{
      display: flex;
      flex-direction:column;

      border:none;

      font-size:1em;
    }

    header > a:last-of-type {
      flex-direction:column;
    }
  }


  /*BANNER*/
  main > ul:first-of-type{
    background-image: url("../images/snoepsnacks_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;

    text-transform:uppercase;
    color: var(--wit);
    margin:0;
  }

  main > ul:first-of-type h1{
    margin:0;
  }

  main > ul:first-of-type h2{
    font-family:'poppins-extralight';
    margin:0;
  }


  @media (min-width:55em){
    main > ul:first-of-type{
      background-image: url("../images/snoepsnacks_banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: left;
      color: var(--wit);
      margin:0;
    }

    h1{
      font-size:4em;
      padding:0.5em 0.5em 0 4em;
      margin:0;
    }

    main > ul:first-of-type h2{
      font-size:2em;
      padding: 0 0.5em 1em 8em;
      margin:0;
    }
  }


  /*PROUCTEN*/

  main section:first-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:0.5em;
    justify-items: center;

    padding-left:3em;
  }

  /*PRODUCTEN > "Filteren"*/
  main section:first-of-type > h2:first-of-type {
    grid-column:1/3;
    grid-row: 1;
    justify-self:center;

    font-size:1em;
    color: var(--main-text);

    border: var(--main-text) 1px solid;

    padding: 0.75em 5em 0.75em 5em;
  }

  main section:first-of-type > h2:nth-of-type(2){
    visibility: hidden;
  }

  main section:first-of-type > ul{
    visibility:hidden;
  }

  /*PRODUCTEN > Sorteerknop*/
  main section:first-of-type > img:nth-of-type(1){
    width:3.5em;
    grid-column:2/3;
    grid-row:1/2;

    justify-self:end;
    align-self:center;
  }

  /*PRODCUTEN > Items*/

  /*PRODUCTEN algemene styling*/
  main section:first-of-type p{
    font-size: larger;
    text-align: center;

    color: var(--main-text);
  }

  main section:first-of-type button{
    background-color:var(--button-roze);
    color: var(--add-text);
    border: none;
    border-radius: 0.25em;
    font-size:larger;
    padding: 0.75em 1.3em 0.75em 1.3em;
  }



  /*Item 1*/
  main section:first-of-type > img:nth-of-type(2){
    width: 10em;
    grid-column:1/2;
    grid-row:2;
  }

  main section:first-of-type > p:nth-of-type(1) {
    grid-column:1/2;
    grid-row: 3;
  }

  main section:first-of-type > p:nth-of-type(2) {
    grid-column:2/4;
    grid-row: 4;
  }

  main section:first-of-type > button:nth-of-type(1) {
    grid-column:1/2;
    grid-row: 5;
  }

  /*Item 2*/

  main section:first-of-type > img:nth-of-type(3){
    width: 10em;
    grid-column:2/4;
    grid-row:2;
  }

  main section:first-of-type > p:nth-of-type(3) {
    grid-column:2/4;
    grid-row: 3;
  }

  main section:first-of-type > p:nth-of-type(4) {
    grid-column:1/2;
    grid-row: 8;
  }

  main section:first-of-type > button:nth-of-type(2) {
    grid-column:2/4;
    grid-row: 5;
  }

  /*Item 3*/
  
  main section:first-of-type > img:nth-of-type(4){
    width: 10em;
    grid-column:1/2;
    grid-row:6;
  }

  main section:first-of-type > p:nth-of-type(5) {
    grid-column:1/2;
    grid-row: 7;
  }

  main section:first-of-type > p:nth-of-type(6) {
    grid-column:2/4;
    grid-row: 8;
  }

  main section:first-of-type > button:nth-of-type(3) {
    grid-column:1/2;
    grid-row: 9;
  }

  /*Item 4*/

  main section:first-of-type > img:nth-of-type(5){
    width: 10em;
    grid-column:2/4;
    grid-row:6;
  }

  main section:first-of-type > p:nth-of-type(7) {
    grid-column:2/4;
    grid-row: 7;
  }

  main section:first-of-type > p:nth-of-type(8) {
    grid-column:1/2;
    grid-row: 4;
  }

  main section:first-of-type > button:nth-of-type(4) {
    grid-column:2/4;
    grid-row: 9;
  }

  /*Item 5*/

  main section:first-of-type > img:nth-of-type(6){
    width: 10em;
    grid-column:1/2;
    grid-row:10;
  }

  main section:first-of-type > p:nth-of-type(9) {
    grid-column:1/2;
    grid-row: 11;
  }

  main section:first-of-type > p:nth-of-type(10) {
    grid-column:1/2;
    grid-row: 12;
  }

  main section:first-of-type > button:nth-of-type(5) {
    grid-column:1/2;
    grid-row: 13;
  }

  /*Item 6*/

  main section:first-of-type > img:nth-of-type(7){
    width: 10em;
    grid-column:2/4;
    grid-row:10;
  }

  main section:first-of-type > p:nth-of-type(11) {
    grid-column:2/4;
    grid-row: 11;
  }

  main section:first-of-type > p:nth-of-type(12) {
    grid-column:2/4;
    grid-row: 12;
  }

  main section:first-of-type > button:nth-of-type(6) {
    grid-column:2/4;
    grid-row: 13;
  }

  /*Item 7*/

  main section:first-of-type > img:nth-of-type(8){
    width: 10em;
    grid-column:1/2;
    grid-row:14;
  }

  main section:first-of-type > p:nth-of-type(13) {
    grid-column:1/2;
    grid-row: 15;
  }

  main section:first-of-type > p:nth-of-type(14) {
    grid-column:1/2;
    grid-row: 16;
  }

  main section:first-of-type > button:nth-of-type(7) {
    grid-column:1/2;
    grid-row: 17;
  }

    /*Item 8*/

    main section:first-of-type > img:nth-of-type(9){
      width: 10em;
      grid-column:2/4;
      grid-row:14;
    }
  
    main section:first-of-type > p:nth-of-type(15) {
      grid-column:2/4;
      grid-row: 15;
    }
  
    main section:first-of-type > p:nth-of-type(16) {
      grid-column:2/4;
      grid-row: 16;
    }
  
    main section:first-of-type > button:nth-of-type(8) {
      grid-column:2/4;
      grid-row: 17;
    }

    /*Item 9*/

    main section:first-of-type > img:nth-of-type(10){
      width: 10em;
      grid-column:1/2;
      grid-row:18;
    }
  
    main section:first-of-type > p:nth-of-type(17) {
      grid-column:1/2;
      grid-row: 19;
    }
  
    main section:first-of-type > p:nth-of-type(18) {
      grid-column:1/2;
      grid-row: 20;
    }
  
    main section:first-of-type > button:nth-of-type(9) {
      grid-column:1/2;
      grid-row: 21;
    }

    /*Item 10*/

    main section:first-of-type > img:nth-of-type(11){
      width: 10em;
      grid-column:2/4;
      grid-row:18;
    }
  
    main section:first-of-type > p:nth-of-type(19) {
      grid-column:2/4;
      grid-row: 19;
    }
  
    main section:first-of-type > p:nth-of-type(20) {
      grid-column:2/4;
      grid-row: 20;
    }
  
    main section:first-of-type > button:nth-of-type(10) {
      grid-column:2/4;
      grid-row: 21;
    }

     /*Item 11*/

    main section:first-of-type > img:nth-of-type(12){
      width: 10em;
      grid-column:1/2;
      grid-row:22;
    }
  
    main section:first-of-type > p:nth-of-type(21) {
      grid-column:1/2;
      grid-row: 23;
    }
  
    main section:first-of-type > p:nth-of-type(22) {
      grid-column:1/2;
      grid-row: 24;
    }
  
    main section:first-of-type > button:nth-of-type(11) {
      grid-column:1/2;
      grid-row: 25;
    }

     /*Item 12*/

     main section:first-of-type > img:nth-of-type(13){
      width: 10em;
      grid-column:2/4;
      grid-row:22;
    }
  
    main section:first-of-type > p:nth-of-type(23) {
      grid-column:2/4;
      grid-row: 23;
    }
  
    main section:first-of-type > p:nth-of-type(24) {
      grid-column:2/4;
      grid-row: 24;
    }
  
    main section:first-of-type > button:nth-of-type(12) {
      grid-column:2/4;
      grid-row: 25;
    }

  


  /*Producten groot scherm*/

  /*Poducten groot scherm > filteren*/
  @media (min-width:40em){
    main section:first-of-type{
      display: grid;
      grid-template-columns: 1fr 15% 15% 15% 1fr;
      grid-template-rows: auto;
      gap:1em;

      justify-items: center;
      padding-top:1em;

      font-size:0.8em;
    }

      /*Filteren (groot scherm)*/
    main section:first-of-type ul{
      visibility:visible;
      grid-column:1/2;
      grid-row:1/3;
  
      align-self:start;
      justify-self:end;
  
      font-size:1.1em;
      font-family:'poppins-extralight';
    }
  
    main section:first-of-type ul h2{
      border-bottom: black 0.2px solid;
      padding-bottom:1em;
    } 
  
    main section:first-of-type ul p{
      border-bottom: black 0.2px solid;
      padding-bottom:1em;
    } 

    /*Filteren weghalen (klein scherm)*/
    main section:first-of-type > h2:first-of-type {
      visibility: hidden;
    }

    main section:first-of-type > img:nth-of-type(1){
      visibility: hidden;
    }

    /*Indelen op (groot scherm)*/
    main section:first-of-type > h2:nth-of-type(2){
      visibility: visible;

      grid-column:4/5;
      grid-row:1/2;

      font-family:'poppins-extralight';
      font-size:1.2em;

      border: var(--main-text) 1px solid;
      width:100%;

      text-align:center;
      align-self:center;

      padding: 0.5em;
    }

    /*Items > algemene styling*/
    main section:first-of-type > button{
      width:100%;
    }

    /*Item 1*/
    main section:first-of-type > img:nth-of-type(2){
      grid-column:2/3;
      grid-row:2;
    }

    main section:first-of-type > p:nth-of-type(1) {
      grid-column:2/3;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(2) {
      grid-column:2/3;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(1) {
      grid-column:2/3;
      grid-row: 5;
    }

    /*Item 2*/
    main section:first-of-type > img:nth-of-type(3){
      grid-column:3/4;
      grid-row:2;
    }

    main section:first-of-type > p:nth-of-type(3) {
      grid-column:3/4;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(4) {
      grid-column:3/4;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(2) {
      grid-column:3/4;
      grid-row: 5;
    }

    /*Item 3*/
    main section:first-of-type > img:nth-of-type(4){
      grid-column:4/5;
      grid-row:2;
    }

    main section:first-of-type > p:nth-of-type(5) {
      grid-column:4/5;
      grid-row: 3;
    }

    main section:first-of-type > p:nth-of-type(6) {
      grid-column:4/5;
      grid-row: 4;
    }

    main section:first-of-type > button:nth-of-type(3) {
      grid-column:4/5;
      grid-row: 5;
    }

    /*Item 4*/
    main section:first-of-type > img:nth-of-type(5){
      grid-column:2/3;
      grid-row:6;
    }

    main section:first-of-type > p:nth-of-type(7) {
      grid-column:2/3;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(8) {
      grid-column:2/3;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(4) {
      grid-column:2/3;
      grid-row: 9;
    }

    /*Item 5*/
    main section:first-of-type > img:nth-of-type(6){
      grid-column:3/4;
      grid-row:6;
    }

    main section:first-of-type > p:nth-of-type(9) {
      grid-column:3/4;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(10) {
      grid-column:3/4;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(5) {
      grid-column:3/4;
      grid-row: 9;
    }

    /*Item 6*/
    main section:first-of-type > img:nth-of-type(7){
      grid-column:4/5;
      grid-row:6;
    }

    main section:first-of-type > p:nth-of-type(11) {
      grid-column:4/5;
      grid-row: 7;
    }

    main section:first-of-type > p:nth-of-type(12) {
      grid-column:4/5;
      grid-row: 8;
    }

    main section:first-of-type > button:nth-of-type(6) {
      grid-column:4/5;
      grid-row: 9;
    }

    /*Item 7*/
    main section:first-of-type > img:nth-of-type(8){
      grid-column:2/3;
      grid-row:10;
    }

    main section:first-of-type > p:nth-of-type(13) {
      grid-column:2/3;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(14) {
      grid-column:2/3;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(7) {
      grid-column:2/3;
      grid-row: 13;
    }

    /*Item 8*/
    main section:first-of-type > img:nth-of-type(9){
      grid-column:3/4;
      grid-row:10;
    }

    main section:first-of-type > p:nth-of-type(15) {
      grid-column:3/4;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(16) {
      grid-column:3/4;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(8) {
      grid-column:3/4;
      grid-row: 13;
    }

    /*Item 9*/
    main section:first-of-type > img:nth-of-type(10){
      grid-column:4/5;
      grid-row:10;
    }

    main section:first-of-type > p:nth-of-type(17) {
      grid-column:4/5;
      grid-row: 11;
    }

    main section:first-of-type > p:nth-of-type(18) {
      grid-column:4/5;
      grid-row: 12;
    }

    main section:first-of-type > button:nth-of-type(9) {
      grid-column:4/5;
      grid-row: 13;
    }

    /*Item 10*/
    main section:first-of-type > img:nth-of-type(11){
      grid-column:2/3;
      grid-row:14;
    }

    main section:first-of-type > p:nth-of-type(19) {
      grid-column:2/3;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(20) {
      grid-column:2/3;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(10) {
      grid-column:2/3;
      grid-row: 17;
    }

    /*Item 11*/
    main section:first-of-type > img:nth-of-type(12){
      grid-column:3/4;
      grid-row:14;
    }

    main section:first-of-type > p:nth-of-type(21) {
      grid-column:3/4;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(22) {
      grid-column:3/4;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(11) {
      grid-column:3/4;
      grid-row: 17;
    }

    /*Item 12*/
    main section:first-of-type > img:nth-of-type(13){
      grid-column:4/5;
      grid-row:14;
    }

    main section:first-of-type > p:nth-of-type(23) {
      grid-column:4/5;
      grid-row: 15;
    }

    main section:first-of-type > p:nth-of-type(24) {
      grid-column:4/5;
      grid-row: 16;
    }

    main section:first-of-type > button:nth-of-type(12) {
      grid-column:4/5;
      grid-row: 17;
    }
  }



   /*FOOTER*/   /*Hulp gekregen door Jesse om probleem tussen sections en grid bij het gerbuik van @media op te lossen*/ 

   footer{
    background-color:var(--licht-roze);
    margin-top: 3em;
    padding: 1em;
  }

  footer ul{
    list-style:none;
  }

  @media(min-width:80em){
    footer{
      display: grid;
      grid-template-columns: 45% 20% 40% 20%;
      grid-template-rows: 12.5% 20%;
      row-gap:0.5em;

      font-size:0.75em;
    }
  }


  /*FOOTER section 1*/


  footer section:first-of-type{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:1fr 7.5vw 7.5vw 15vw 7.5vw 5vw;
  }

  footer section:first-of-type > img:first-of-type{
    grid-column:1/3;
    grid-row: 1;
    
    width:8em;
    justify-self: center;
  }

  footer section:first-of-type ul{
    padding:0;
  }

  footer section:first-of-type ul:first-of-type h2{
    grid-column:1/2;
    grid-row:2;

    font-family: 'poppins-bold';
  }

  footer section:first-of-type ul:first-of-type p:first-of-type{
    grid-column:1/2;
    grid-row:3;
  }

  footer section:first-of-type ul:first-of-type p:nth-of-type(2){
    grid-column:1/2;
    grid-row:4;
  }

  footer section:first-of-type ul:nth-of-type(2){
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4;
    align-self: end;
  }

  footer section ul img{
    width:2em;
  }

  footer section:first-of-type ul:nth-of-type(3){
    grid-column:1/2;
    grid-row:5;
  }

  footer section:first-of-type ul:nth-of-type(3) li{
    border-bottom: black 1px solid;
  }

  @media(min-width:80em){
      footer section:first-of-type img:first-of-type{
        grid-column:1/3;
        grid-row:1;

        width:12em;

        padding-left:10em;
      }
       
      footer section:first-of-type ul:nth-of-type(1) {
      grid-column: 2/3;
      grid-row:1;

      padding-left:12em;
      }
       
       
      footer section:first-of-type ul:nth-of-type(2) {
      grid-column: 4/5;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(2) img {
        width:3.5em;

        padding:0;
      }
       
      footer section:first-of-type ul:nth-of-type(3) {
      grid-column: 3/4;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(3) li{
        border:none;
      }
  }
  

  /*FOOTER Section 2*/


  footer section:nth-of-type(2){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 100%;

    padding-top:2em;
    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(2) h2{
   grid-column:1/2;
   grid-row:1;

   font-family: 'poppins-bold';
  }

  footer section:nth-of-type(2) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

  @media(min-width:80em){
      footer section:nth-of-type(2){
        grid-column: 1/2;
        grid-row:2/3;

        justify-self:start;

        border-bottom:none;
        border-right: black 1px solid;

        padding-top:0;
        padding-left:27.5em;
        }
  }

  /*FOOTER Section 3*/

  footer section:nth-of-type(3){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 13% 100%;

    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(3) h2{
    grid-column:1/2;
    grid-row:1;

    font-family: 'poppins-bold';
   }

   footer section:nth-of-type(3) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

  @media(min-width:80em){
    footer section:nth-of-type(3){
      grid-column: 2/3;
      grid-row:2/3;

      padding-right:1em;
      justify-self:start;

      border-bottom:none;
      border-right: black 1px solid;
      }

      footer section:nth-of-type(3) ul:nth-of-type(2) {
        padding-right: 17em;
      }

      footer section:nth-of-type(3) ul{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;

        gap:0.5em;
      }
}
 
  /*Footer Section 4*/
  footer section:nth-of-type(4) h2{
    grid-column:3/4;
    grid-row:1;

    font-family: 'poppins-bold';
   }

  footer section:nth-of-type(4) ul{
    margin:0;
    padding:0;
  }

  @media(min-width:80em){
    footer section:nth-of-type(4){
      grid-column: 3/4;
      grid-row:2/3;

      justify-self:start;

      padding-left:8em;
      }
}

  /*Copyright*/

  footer h3{
    font-family:'poppins-extralight';
    text-transform:uppercase;
    background-color:var(--background);
    color:var(--main-text);

    padding-top:3em;
    margin:0;
    height:10em;
    position:absolute;
    right:0;
    left:0;
    padding:1em;
  }

  @media(min-width:40em){
    footer h3{
      grid-column:1/-1;
      grid-row:4;

      background-color:var(--background);
      
      margin:0;
      right:0;
      left:0;
      height:2em;
      position:relative;
    }
  }


