@font-face {
	font-family:'dominik';
	src: url("../fonts/dominik.ttf");
  }
  
  body{
	font-family: 'dominik', sans-serif;
  margin:0;
  padding:0;
  }

  ul{
    list-style: none;
    gap: 0.5em;
  }

/*HEADER*/

 header{
  display: grid;
  grid-template-columns: (4em, 1fr, 1fr);
  grid-template-rows: (2);

  position:sticky;
  top:0;
  z-index:500;
  background-color:var(--wit)
  }

 header img{
    width: 5em;
    grid-column: 1/2;
    grid-row: 1/2;
 }

  header button{
    grid-column: 3/4;
    grid-row: 1/2;

    border:none;
    background: none;
  }

  header button img{
    width: 3em;
  }

  header > button {
    order:10;
    z-index:100;
  }

  header p{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;

    background-color:var(--basis-roze);
    color: var(--wit);
    padding: 1em;
  }

  nav{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    translate: -100% 0%;
    transition:0.5s;
    background-color: var(--wit);
    z-index:100;
  }

  nav.toonMenu {
    translate:0% 0%;
    transition: 2s;
  }

  header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;

    list-style: none;
  }


  /* SLIDER*/       /*Hulp van Sybren met de carousel*/

  main ul:first-of-type{
  padding: 0;
  display: flex;
  height:30em;
  flex-direction:row;
  overflow-y: scroll;
  justify-content:flex-start;
  }

  main ul:first-of-type > li{
    display:grid;
    grid-template-columns: 8vw 40vw 45vw 10vw;
    grid-template-rows: 5vw 10vw 20vw 15vw 12.5vw 5vw;
    background-color: var(--wit);
    width: 100%;

    img:first-of-type{
      width:100%;
      height:25em;

      grid-column: 1/5;
      grid-row: 1/6;
      z-index: 1;
    }

    img:nth-of-type(2){
      width:85vw;
      height:22em;
      opacity: 80%;

      grid-column: 2/5;
      grid-row: 2/5;
      z-index: 1;
    }

    h1{
      text-transform: uppercase;
      font-size:1.6em;
      padding: 0.5em;
  
      grid-column: 2/4;
      grid-row:2;
      z-index: 2;
    }

    h2{
      text-transform: uppercase;
      font-weight: bold;
      font-size:xx-large;
      padding: 0.5em;
  
      grid-column: 2/4;
      grid-row:2;
      z-index: 2;
    }

    p{
      grid-column: 2/4;
      grid-row:3;
      z-index: 2;

      padding:1.5em 0 0 1.5em;

    }

    button{
      grid-column: 2/3;
      grid-row:5;
      z-index: 2;

      background-color:var(--button-roze);
      color: var(--wit);
      font-weight: bold;
      text-transform:uppercase;
      font-size: larger;
      border: none;
      border-radius: 0.5em;
      margin-left: 1em;
    }
  }


  /*MENU*/

  main ul:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;

    padding:0;
  
    img{
      width:12em;
      height:12em;
    }

    p{
      font-size: xx-large;
      text-transform: uppercase;
      color: var(--wit);
      text-shadow:
        .125em .125em .125em var(--schaduw-roze),
        -.125em -.125em .125em  var(--schaduw-blauw);
      
    }
  }
  
  main ul:nth-of-type(2) li a{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1;

  align-items: center;
  justify-items: center;

  text-decoration:none;

  }
  
  main ul:nth-of-type(2) li a p{
    grid-row:1/2;
    grid-column:1/2;
  }

  main ul:nth-of-type(2) li a img{
    grid-row:1/2;
    grid-column:1/2;
  }


  /*Meest gekochte producten*/

  main > h2:first-of-type{
    text-transform: uppercase;
    color:var(--basis-roze);
    text-align: center;
  }

  main ul:nth-of-type(3){
    display:flex;
    overflow-y: scroll;
    justify-content:flex-start;
  }

  main ul:nth-of-type(3) li{
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  main ul:nth-of-type(3) li img{
    height:15em;
  }

  main ul:nth-of-type(3) li button{
    background-color:var(--button-roze);
    color: var(--wit);
    font-size: larger;
    border: none;
    border-radius: 0.5em;
    padding:1em 4em 1em 4em;
  }

  /*Advertentie menu*/

  main ul:nth-of-type(4){
    background-color:var(--licht-roze);
  }

  main ul:nth-of-type(4) li{
    display:flex;
    flex-direction:column;
    color: var(--wit);
    padding:1em;
  }

   main ul:nth-of-type(4) li{
    display:flex;
    flex-direction:column;
    color: var(--wit);
    padding:1em;
  }


  main ul:nth-of-type(4) img{
    width:90vw;
    margin:1.5em 0 1.5em 0;
  }

  main ul:nth-of-type(4) button{
    background-color:var(--button-blauw);
    color: var(--wit);
    border: none;
    border-radius: 0.5em;

    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;

    padding:1em 4em 1em 4em;
    margin:0 4em 0 4em;
  }

  /*Afbeeldingen*/

  main section:first-of-type img{
    width:100vw;
  }

 /*Social Media*/

 main h2:nth-of-type(2){
  text-transform: uppercase;
  color:var(--basis-roze);
  text-align: center;
}

  main ul:nth-of-type(5){
    display:flex;
    justify-content:center;
    gap:1.5em;
  }

  main ul:nth-of-type(5) img{
    width:12vw;
  }


   /*FOOTER*/

   footer{
    background-color:var(--licht-roze);
    margin-top: 3em;
    padding: 1em;
  }

  footer ul{
    list-style:none;
  }

  hr {
    border: none;
    border-top: 0.0625em solid var(--lijn);
    margin-top: 2.5em;
  }

  /*FOOTER section 1*/

  footer section:first-of-type{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:1fr 7.5vw 7.5vw 15vw 7.5vw 5vw;
  }

  footer section:first-of-type > img:first-of-type{
    grid-column:1/3;
    grid-row: 1;
    
    width:8em;
    justify-self: center;
  }

  footer section:first-of-type h3{
    grid-column:1/2;
    grid-row:2;
  }

  footer section:first-of-type p:first-of-type{
    grid-column:1/2;
    grid-row:3;
  }

  footer section:first-of-type p:nth-of-type(2){
    grid-column:1/2;
    grid-row:4;
  }

  footer section:first-of-type p:nth-of-type(3){
    grid-column:1/2;
    grid-row:5;
  }

  footer section:first-of-type p:nth-of-type(4){
    grid-column:1/2;
    grid-row:6;
  }

  footer section:first-of-type ul{
    grid-column:2/3;
    grid-row:3;
    justify-content:start;
    align-self:start;
    display:flex;
  }

  footer section ul img{
    width:2em;
  } 
  


  /*FOOTER Section 2*/

  footer section:nth-of-type(2){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 100%;
  }

  footer section:nth-of-type(2) h3{
   grid-column:1/2;
   grid-row:1;
  }

  footer section:nth-of-type(2) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

  /*FOOTER Section 3*/

  footer section:nth-of-type(3){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 13% 100%;
  }

  footer section:nth-of-type(3) h3{
    grid-column:1/2;
    grid-row:1;
   }

   footer section:nth-of-type(3) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }
 
  /*Footer Section 4*/

  footer section:nth-of-type(4) ul{
    margin:0;
    padding:0;
  }

  /*Copyright*/

  h4{
    text-transform:uppercase;
    background-color: var(--wit);

    padding-top:3em;
    margin:0;
    height:10em;
    position:absolute;
    right:0;
    left:0;
    padding:1em;
  }