@font-face {
	font-family:'poppins-regular';
	src: url("../fonts/Poppins-Regular.ttf");
  }

@font-face {
  font-family:'poppins-bold';
  src: url("../fonts/Poppins-Bold.ttf");
  }

  @font-face {
    font-family:'poppins-extralight';
    src: url("../fonts/Poppins-ExtraLight.ttf");
  }

@font-face {
  font-family:'anton';
  src: url("../fonts/anton.ttf");
  }

  body{
	font-family: 'poppins-regular', sans-serif;
  margin:0;
  padding:0;

  background-color:var(--background);
  }

  ul{
    list-style: none;
    gap: 0.5em;
  }

/*HEADER*/

  header{
    position:sticky;
    top:0;
    z-index:500;
    background-color:var(--background)
  }

  header div {
    width:100%;
    padding:.5em 1em;
    
    display:flex;
    gap:1em;
    align-items:center;
    flex-wrap:wrap;
    
    background-color:var(--background);
    max-width:65em;
    margin-inline:auto;
  }

  header div > img:first-of-type{
    grid-column: 1/2;
    grid-row: 1/2;

    width: 5em;
    margin-right:auto;
  }

  header div > img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;

    width: 3em;
    align-self:center;
  }

  header p{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;

    font-family:'poppins-extralight';

    background-color:var(--basis-roze);
    color:var(--add-text);

    margin:0;
    padding:.5em 1em;
  }

  /*Hamburger menu*/ /*Bron lesopdracht JS-3-stap*/

  header button img{
    grid-column:4/5;
    grid-row:1/2;

    width: 3.5em;
  }

  header div > button{
    order:10;
    z-index:100;

    grid-column: 4/5;
    grid-row: 1/2;

    border:none;
    background: none;
  }

  nav {
    position:fixed;
    inset:0;
    background-color: var(--background);
    
    translate:-100%;
  }

  nav a {
    display:block;
    padding:1em;

    text-decoration:none;
    color:var(--main-text);
  }

  nav.toonMenu {
    translate:0% 0%;
    transition: 2s;
  }

  header ul:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:end;
    gap: 0.5em;

    font-size:0.95em;
  }

  header ul a:hover{
    color: var(--basis-roze);
    transition: 0.75s;
  }

  header nav form{
    display:flex;
    justify-content:start;
    
    padding-top:5em;
    padding-left:3em;
  }

  /*Header menu opengeklapt*/  /*Bron lesopdracht: JS 3-stap*/

  @media (min-width:65em){

    header div{
      display:grid;
      grid-template-columns:max-content 1fr;
    }

    header div > img:first-of-type{
      grid-column:1/2;
      grid-row:1;
      
      justify-self:start;

      width:8em;
      padding-left:5.5em;
    }

    header div > img:nth-of-type(2){
      margin-right:0;

      grid-column:2/3;
      grid-row:1;

      align-self:start;
      justify-self:end;
      padding-right:.5em;

      width:2.5em;
    }

    header div > button {
      display:none;
    }

    header p{
      grid-column:1/5;
      grid-row:2;

      padding:1.25em 1em;
    }

    header div > button{
      display:none;
    }

    header nav {
      grid-column-start:2;
      grid-row-start:1;
      position:static;
      translate:0;
      
      background-color:unset;
    }

    header nav button{
      display:none;
    }

    header nav ul:first-of-type {
      margin:0;
      padding:0;
      list-style:none;
      display:flex;
    }

    header ul:first-of-type {
      grid-column:1/-1;
      grid-row:1;

      display:flex;
      gap:1em;

      flex-direction:row;
      align-items:center;
    }

    nav a{
      display: flex;
      flex-direction:column;

      border:none;

      font-size:1em;
      padding:1em .5em;
      text-decoration: none;
      color:var(--main-text);
    }

    header > a:last-of-type {
      flex-direction:column;
    }

    header nav form{
      padding:0;
    }
  }

  /*Caroussel*/   /*Bron: Sybrn > Hulp van Sybren met de caroussel*/

  main ul:first-of-type{
    display: flex;
    height:30em;
    flex-direction:row;
    justify-content:flex-start;

    overflow-x:auto;
    overflow-y:hidden;

    padding: 0;
    margin:0;
  }

  /*Bron: Hulp van Thomas bij het styling van de img en grid*/
  main ul:first-of-type > li{
    display:grid;
    grid-template-columns: 1fr 55% 20.5em 1fr;
    grid-template-rows: 1fr 15% 1fr 30% 1fr;

    img{
      width:30em;
      height:25em;
      opacity: 80%;

      grid-column: 2/5;
      grid-row: 2/5;
      z-index: 1;

      padding-top:1em;
    }

    h1{
      text-transform: uppercase;
      font-size:2.5m;
      padding: 0.5em;
  
      grid-column: 2/4;
      grid-row:2;
      z-index: 2;
    }

    h2{
      text-transform: uppercase;
      font-weight: bold;
      font-size:2.5em;
      padding: 0.5em;
  
      grid-column: 2/4;
      grid-row:2;
      z-index: 2;
    }

    p{
      grid-column: 2/3;
      grid-row:3;
      z-index: 2;

      padding:1.5em 0 0 1.5em;

    }

    a{
      font-family: 'poppins-bold', 'poppins-regular';

      grid-column: 2/3;
      grid-row:4;
      z-index: 2;
      justify-self:center;

      background-color:var(--button-roze);
      color:var(--add-text);

      font-weight: bold;
      text-transform:uppercase;
      font-size: 1.1em;
      text-decoration:none;

      border: none;
      border-radius: 0.75em;

      margin:1.75em;
      padding:1em 2.5em 1em 2.5em;
    }
    /*Bron:https://zellwk.com/blog/style-hover-focus-active-states/*/
    a:hover{
      background-color:var(--button-blauw);
    }

    a:focus{
      border: var(--wit) 4px solid;
    }
  }

  /*Bron: Sanne t' Hooft*/
  main ul:first-of-type > li:first-of-type{
    background-image: url("../images/thecandycorner_banner.jpeg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;

    padding: 2em;

  }

  main ul:first-of-type > li:nth-of-type(2){
    background-image: url("../images/cheetos_banner.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;

    padding: 2em;
  }

  main ul:first-of-type > li:nth-of-type(3){
    background-image: url("../images/snoepbox_banner.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;

    padding: 2em;
}

/*Caroussel > groot scherm*/

@media(min-width:50em){
  main ul:first-of-type > li{
    display:grid;
    grid-template-columns: 10em 20em 38em 1fr;
    grid-template-rows: 1fr 5em 1fr 1fr 1fr;
  }

  main ul:first-of-type > li img{
    width:35em;
    height:22.5em;
  }

  main ul:first-of-type > li a {
    margin-top:auto;
  }
}

@media(min-width:80em){
  main ul:first-of-type > li{
    display:grid;
    grid-template-columns: 10em 20em 68em 1fr;
    grid-template-rows: 1fr 5em 1fr 1fr 1fr;
  }

  main ul:first-of-type > li img{
    width:35em;
    height:22.5em;
  }

  main ul:first-of-type > li a {
    margin-top:auto;
  }
}


  /*MENU*/

  /*MENU > Grid voor de img*/
  main ul:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;

    padding:0;
  
    img{
      width:12em;
      height:12em;
    }

    p{
      font-family: 'anton';
      font-size: 2.5em;
      font-weight:900;
      text-transform: uppercase;
      color:var(--add-text);
      text-shadow:
        .100em .100em .100em var(--schaduw-blauw),
        -.100em -.100em .100em  var(--schaduw-roze);
      
    }
  }
  
  /*MENU > Grid om tekst op de images te plaatsen*/
  main ul:nth-of-type(2) li a{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1;

  align-items: center;
  justify-items: center;

  text-decoration:none;
  }
  
  main ul:nth-of-type(2) li a p{
    grid-row:1/2;
    grid-column:1/2;
  }

  main ul:nth-of-type(2) li a p:nth-of-type(2){
    opacity:0;
  }

  main ul:nth-of-type(2) li a img{
    grid-row:1/2;
    grid-column:1/2;
  }

  main ul:nth-of-type(2) li a img:nth-of-type(2){
    opacity:0;
  }

  main ul:nth-of-type(2) li a:hover{
    img:nth-of-type(2){
    opacity:1;
    transition:0.75s;
    }

    p:nth-of-type(2){
      opacity:1;
      transition:0.75s;
    }
  }

  /*MENU > Groot scherm*/

  @media(min-width: 40em){
    main ul:nth-of-type(2) {
      grid-template-columns:12em 12em 12em 12em;
      padding: 2em;
      justify-content:center;
      align-items: center;
    }
  }


  /*Meest gekochte producten*/

  main > h2:first-of-type{
    text-transform: uppercase;
    color:var(--basis-roze);
    text-align: center;
  }

  main ul:nth-of-type(3){
    display:flex;
    overflow-y: scroll;
    justify-content:flex-start;
  }

  main ul:nth-of-type(3) li{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:15em;

    color:var(--main-text);
  }

  main ul:nth-of-type(3) li img{
    height:15em;
  }

  main ul:nth-of-type(3) li button{
    background-color:var(--button-roze);
    color:var(--add-text);
    font-size: larger;
    border: none;
    border-radius: 0.5em;
    padding:1em 4em 1em 4em;
  }

  main ul:nth-of-type(3) li button:hover{
    opacity:80%;
  }

  main ul:nth-of-type(3) li button:focus{
    border: var(--main-text) 2px solid;
  }

  main ul:nth-of-type(3) h3{
    margin-bottom:auto;
    text-align:center;
  }

  /*Meest gekochte producten > Groot scherm*/

  @media(min-width: 40em){
    main ul:nth-of-type(3) li img{
      height:10em;
    }

    main ul:nth-of-type(3){
      justify-content:center;
    }
  }

  /*Advertentie menu*/

  main ul:nth-of-type(4){
    background-color:var(--licht-roze);
    padding:2em;
  }

  main ul:nth-of-type(4) li:first-of-type{
    display:flex;
    flex-direction:column;

    color:var(--main-text);
    background-color:var(--background);
  }

  main ul:nth-of-type(4) h2:first-of-type{
    padding-left:1em;
  }

  main ul:nth-of-type(4) p:first-of-type{
    padding-left:1em;
    padding-right:1em;
  }

  main ul:nth-of-type(4) li:nth-of-type(2){
    display:flex;
    flex-direction:column;

    color:var(--main-text);
    background-color:var(--background);
  }

  main ul:nth-of-type(4) h2:nth-of-type(2){
    padding-left:1em;
  }

  main ul:nth-of-type(4) p:nth-of-type(2){
    padding-left:1em;
    padding-right:1em;
  }


  main ul:nth-of-type(4) img{
    width:auto;
    padding:0;
  }

  main ul:nth-of-type(4) a{
    background-color:var(--button-blauw);
    color:var(--add-text);
    border: none;
    border-radius: 0.5em;

    font-family: 'poppins-bold', 'poppins-regular';
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;

    margin:1em 6em 2em 6em;
    padding:0.75em 0.5em 0.75em 0.5em;
  }

  main ul:nth-of-type(4) li:nth-of-type(2) > a{
    padding:0.75em 1em 0.75em 1em;
    margin:1em 5em 2em 5em;
  }

  main ul:nth-of-type(4) a:hover{
    background-color:var(--button-oranje);
  }

  main ul:nth-of-type(4) a:focus{
    border: var(--main-text) 2px solid;
  }
  
  /*Advertenties > Groot scherm*/

  @media(min-width: 60em){
    main ul:nth-of-type(4){
      display:flex;
      gap:2.5em;

      justify-content:center;
    }

    main ul:nth-of-type(4) img{
    width:30em;
    height:10em;
    margin:0;

  }
  main ul:nth-of-type(4) a{
    padding:1em 4em 1em 4em;
    font-size: 1.15em;
    margin: 1em 8em 2em 8em;
  }

  main ul:nth-of-type(4) li:first-of-type{
    width:30em;
    padding:0;
  }

  main ul:nth-of-type(4) li:nth-of-type(2){
    width:30em;
    padding:0;
  }

  main ul:nth-of-type(4) li:first-of-type > a{
    margin:1em 6em 2em 6em;
    padding:0.75em 0.5em 0.75em 0.5em;;
  }

  main ul:nth-of-type(4) li:nth-of-type(2) > a{
    margin:1em 6em 2em 6em;
    padding:0.75em 0.5em 0.75em 0.5em;;
  }
}

  /*Afbeeldingen*/

  main ul:nth-of-type(5){
    padding:0;
  }

  main ul:nth-of-type(5) li img{
    width:100%;
  }

  /*Afbeeldingen > Groot scherm*/

  @media(min-width: 40em){
    main ul:nth-of-type(5) li{
      display:flex;
      margin:0;
    }
}

 /*Social Media*/

 main h2:nth-of-type(2){
  text-transform: uppercase;
  color:var(--basis-roze);
  text-align: center;
}

  main ul:nth-of-type(6){
    display:flex;
    justify-content:center;
    gap:1.5em;
  }

  main ul:nth-of-type(6) img{
    width:5em;
  }

  /*Social Media > Groot scherm*/

  @media(min-width: 40em){
    main ul:nth-of-type(6) img{
      width:3em;
    }
  }


   /*FOOTER*/  /*Bron: Jesse > Hulp gekregen door Jesse om probleem tussen sections en grid bij het gerbuik van @media op te lossen*/ 

   footer{
    background-color:var(--licht-roze);
    margin-top: 3em;
    padding:1em;
  }

  footer ul{
    list-style:none;
  }

  footer ul li a{
    text-decoration: none;
    color:var(--zwart);
  }

  @media(min-width:80em){
    footer{
      display: grid;
      grid-template-columns: 45% 20% 20% 15%;
      grid-template-rows: 17.5% 32.5% 20%;
      row-gap:1em;

      font-size:0.75em;
      padding:0;
      height:65em;
    }
  }


  /*FOOTER section 1*/


  footer section:first-of-type{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:1fr 7.5vw 7.5vw 15vw 7.5vw 5vw;
  }

  footer section:first-of-type > img:first-of-type{
    grid-column:1/3;
    grid-row: 1;
    
    width:8em;
    justify-self: center;
  }

  footer section:first-of-type ul{
    padding:0;
  }

  footer section:first-of-type ul:first-of-type h2{
    grid-column:1/2;
    grid-row:2;

    font-family: 'poppins-bold';
  }

  footer section:first-of-type ul:first-of-type p:first-of-type{
    grid-column:1/2;
    grid-row:3;
  }

  footer section:first-of-type ul:first-of-type p:nth-of-type(2){
    grid-column:1/2;
    grid-row:4;
  }

  footer section:first-of-type ul:nth-of-type(2){
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4;
    align-self: end;
  }

  footer section ul img{
    width:2em;
  }

  footer section:first-of-type ul:nth-of-type(3){
    grid-column:1/2;
    grid-row:5;
  }

  footer section:first-of-type ul:nth-of-type(3) li{
    border-bottom: black 1px solid;
  }

  /* Footer > groot scherm*/

  @media(min-width:80em){
      footer section:first-of-type img:first-of-type{
        grid-column:1/3;
        grid-row:1;

        width:12em;

        padding-left:10em;
      }
       
      footer section:first-of-type ul:nth-of-type(1) {
      grid-column: 2/3;
      grid-row:1;

      padding-left:12em;
      }
       
       
      footer section:first-of-type ul:nth-of-type(2) {
      grid-column: 4/5;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(2) img {
        width:3.5em;

        padding:0;
      }
       
      footer section:first-of-type ul:nth-of-type(3) {
      grid-column: 3/4;
      grid-row:1;

      align-self:end;
      padding-left:10em;
      }

      footer section:first-of-type ul:nth-of-type(3) li{
        border:none;
      }
  }
  

  /*FOOTER Section 2*/


  footer section:nth-of-type(2){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 100%;

    padding-top:2em;
    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(2) h2{
   grid-column:1/2;
   grid-row:1;

   font-family: 'poppins-bold';
  }

  footer section:nth-of-type(2) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

   /* Footer > groot scherm*/

  @media(min-width:80em){
      footer section:nth-of-type(2){
        grid-column: 1/2;
        grid-row:2/3;

        justify-self:start;

        border-bottom:none;
        border-right: black 1px solid;

        padding-top:0;
        padding-left:27.5em;
        }
  }

  /*FOOTER Section 3*/

  footer section:nth-of-type(3){
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 13% 100%;

    border-bottom: black 1px solid;
  }

  footer section:nth-of-type(3) h2{
    grid-column:1/2;
    grid-row:1;

    font-family: 'poppins-bold';
   }

   footer section:nth-of-type(3) ul:first-of-type{
    grid-column:1/2;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2){
    grid-column:2/3;
    grid-row:2;

    margin:0;
    padding:0;
  }

  footer section:nth-of-type(3) ul:nth-of-type(1) li{
    padding-top:0.5em;
  }

  footer section:nth-of-type(3) ul:nth-of-type(2) li{
    padding-top:0.5em;
  }

   /* Footer > groot scherm*/

  @media(min-width:80em){
    footer section:nth-of-type(3){
      grid-column: 1/3;
      grid-row:2/3;

      justify-self:center;

      border-bottom:none;
      border-right: black 1px solid;

      padding-left:50em;
      }

      footer section:nth-of-type(3) ul:nth-of-type(2) {
        padding-right: 17em;
      }

      footer section:nth-of-type(3) ul{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;

        gap:0.5em;
      }
}
 
  /*Footer Section 4*/
  footer section:nth-of-type(4) h2{
    grid-column:3/4;
    grid-row:1;

    font-family: 'poppins-bold';
   }

  footer section:nth-of-type(4) ul{
    margin:0;
    padding:0;
  }

   /* Footer > groot scherm*/

  @media(min-width:80em){
    footer section:nth-of-type(4){
      grid-column: 3/4;
      grid-row:2/3;

      justify-self:start;

      padding-left:8em;
      }
}

  /*Copyright*/

  footer h3{
    font-family:'poppins-extralight';
    text-transform:uppercase;
    background-color:var(--background);
    color:var(--main-text);

    padding-top:3em;
    padding:1em;

    margin:0;

    height:10em;
    position:absolute;
    right:0;
    left:0;
  }

   /* Copyright > groot scherm*/

  @media(min-width:80em){
    footer h3{
      grid-column:1/-1;
      grid-row:3;

      background-color:var(--background);
      
      margin:0;

      right:0;
      left:0;
      height: 2em;
      align-self: end;
    }
  }